
body {
  background-color: lightgrey;
  color: #333;
  font-family: Sans-Serif;
  line-height: 18px;
} 

.wrapper {
  margin: 0 auto;
}

section {
  margin: 30px;
}

#page-body {
  display: flex;
  flex: 1;
  align-items: stretch;
}

#main {
  flex: 1 70%;
  /* float: left;
  width: 80%; */
  border-right: 3px solid white;
}

#sidebar {
  flex: 1 30%;
  padding-right: 30px;
}

footer {
  padding: 10px;
  text-align: center;
  background: white;
}

/*////////// Grid //////////*/

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid a {
  background-color: white;
  padding: 30px;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px 30px 0 0; 
}

/*////////// Text //////////*/
h1 {
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px 0 0 0;

}

.link {
  font-size: 0.5em;
}

/*////////// BACKGROUNDS //////////*/
.white {
  background: white;
}

.grey {
  background: lightgrey;
}


/*////////// HEADER //////////*/

header {
  margin: 0px;
}

/*////////// LOGO //////////*/
#logo img {
  float: left;
  height: 90px;
  width: 90px;
  margin: 10px;
  z-index: 1;
}

/*////////// NAVBAR //////////*/

#navbar {
  float: left;
  top: 0;
  left: 99;
  text-align: left;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 120px;
  margin: 22px 0;
  padding: px 0;
  color: darkslategray;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
}

/*////////// USER //////////*/
#user {
  text-align: right;
  padding: 22px;
}


/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}