
body {
  background-color: lightgrey;
  color: #333;
  font-family: Sans-Serif;
  line-height: 18px;
} 

.wrapper {
  /* width: 960px; */
  margin: 0 auto;
}

.section {
  margin: 0 0 10px;
}

/*////////// BACKGROUNDS //////////*/
.white {
  background: white;
}

.grey {
  background: lightgrey;
}


/*////////// HEADER //////////*/

header {
  margin: 0 0 30px;
}

/*////////// LOGO //////////*/
#logo img {
  float: left;
  height: 90px;
  width: 90px;
  margin: 10px;
  z-index: 1;
}

/*////////// NAVBAR //////////*/

#navbar {
  top: 0;
  left: 0;
  text-align: left;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 12%;
  margin: 22px 0;
  padding: px 0;
  color: darkslategray;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
}



/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}