<%content_for :main do %>
  <div class = "clearfix"> 
    <!-- *********************  Large Title & Logo  ********************* -->
    <div class="large-logo-title">
      <div class="large-logo clearfix">
        <img src='/images/homeUp-logo.png'>
      </div>  <!--  .large-logo  -->
      <div class="clearfix">
        <h1 class="large-title" >homeUp Login</h1>
      </div> <!--  .large-title  -->
    </div> <!--  .large-logo-title  -->

    <!-- *********************  Error Messages  ********************* -->
    <%if !!flash[:login]%>
      <div class="flash wrapper home-user-options clearfix">
        <%=flash[:login]%>
      </div> <!-- flash -->
    <%end%>

    <!-- *********************  Login Form  ********************* -->
    <div class = "details form clearfix">
      <form method='POST' action='/login'>
        <table>
          <tr>
            <th>Username:</th>
            <td><input type="text" name="username" placeholder="username"></td>
          </tr>
          <tr>
            <th>Password:</th>
            <td><input type="password" name="password" placeholder="password"></td>
          </tr>   
          <tr>
            <th> </th>
            <td><input type='submit' value='Log In'></td>
          </tr>
        </table>
      </form>
    </div> <!-- .details form -->
  </div> <!-- .clearfix -->
<%end%>