<%content_for :main do %>
  <div class = "clearfix"> 
    <div class="home-page">
      <div class="home-logo" class="clearfix">
        <img src='/images/homeUp-logo.png'>
      </div>
      <div class="clearfix">
        <h1 class="home-title" >homeUp Login</h1>
      </div>
    </div>

    <%if !!flash[:login]%>
      <div class="flash wrapper home-user-options clearfix">
        <%=flash[:login]%>
      </div>
    <%end%>

    <div class = "home-user-options form clearfix">
      <form method='POST' action='/login'>
        <table>
          <tr>
            <th>Username:</th>
            <td><input type="text" name="username" placeholder="username"></td>
          </tr>
          <tr>
            <th>Password:</th>
            <td><input type="password" name="password" placeholder="password"></td>
          </tr>   
          <tr>
            <th> </th>
            <td><input type='submit' value='Log In'></td>
          </tr>
        </table>
      </form>
    </div>
  </section>
<%end%>