<section> 
  <h1>Rooms</h1>
  <div class="grid">
    <%@user.rooms.each do |room|%>
      <a href="/rooms/<%=room.slug%>"><%=room.name.capitalize%></a>
    <%end%>
  </div>
</section>

<section> 
  <h1>Projects</h1>
  <div class="grid">
    <%@user.projects.each do |project|%>
      <a href="/projects/<%=project.slug%>"><%=project.name.capitalize%></a>
    <%end%>
  </div>
</section>

<a href='/projects/new'>Start a New Project</a>
