<%content_for :main do %>
  <%if current_user.rooms.empty? == true%>
    <section class = "clearfix"> 
      <h1>Start a New Project</h1>
      <div class="grid clearfix">
        <a href="/projects/new">+ New Project</a>
      </div>
    </section>
  <%else%>
    <%current_user.rooms.each do |room|%>
      <section class = "clearfix"> 
        <h1><%=room.name.capitalize%></h1>
        <div class="grid clearfix">
          <%room.projects.each do |project|%>
            <a href="/projects/<%=project.slug%>"><%=project.name.capitalize%></a>
          <%end%>
        </div>
      </section>
    <%end%>
  <%end%>
<%end%>

<%content_for :sidebar do%>
  <section>
    <h1>Sidebar</h1>
  </section>
<%end%>
