<%content_for :main do %>
  <div class = "clearfix"> 
    <div class="large-logo-title">
      <div class="large-logo" class="clearfix">
        <img src='/images/homeUp-logo.png'>
      </div>
      <div class="clearfix">
        <h1 class="large-title" >homeUp Signup</h1>
      </div>
    </div>

    <%if @user && @user.errors.any?%>
      <div class="flash wrapper home-user-options clearfix">
        <%=@user.errors.full_messages.to_sentence%>
      </div>
    <%end%>
    
    <div class = "details form clearfix">
      <form method='POST' action='/signup'>
        <table>
          <tr>
            <th>Name:</th>
            <td><input type="text" name="name" placeholder="Name"></td>
          </tr>
          <tr>
            <th>Username:</th>
            <td><input type="text" name="username" placeholder="username"></td>
          </tr>
          <tr>
            <th>Password:</th>
            <td><input type="password" name="password" placeholder="password"></td>
          </tr>   
          <tr>
            <th> </th>
            <td><input type='submit' value='Sign Up'></td>
          </tr>
        </table>
      </form>
    </div>
  </section>
<%end%>
