<%content_for :main do %>
  <section class = "clearfix"> 
    <h1>homeUp Sign Up</h1>
    
    <div class = "form clearfix">
      <form method='POST' action='/signup'>
      Name: <input type="text" name="name" placeholder="Name">
      Username: <input type="text" name="username" placeholder="username">
      Password: <input type="password" name="password" placeholder="password">
      <input type="submit" value="Sign Up">
      </form>
    </div>
  </section>
<%end%>
