<%content_for :main do %>
  <section class="clearfix">
    <h1>Completed Projects</h1>
    <div class = "grid clearfix">
      <%@projects.each do |project|%>
        <a href="/users/<%=project.user.slug%>/projects/<%=project.slug%>"><%=project.name.capitalize%></a></br></br>
      <%end%>
    </div>
<%end%>
