<%content_for :main do %>
  <section class="clearfix">
    <!-- *********************  Title  ********************* -->
    <h1>Completed Projects</h1>

    <!-- *********************  List Projects  ********************* -->
    <div class = "grid clearfix">
      <%@projects.each do |project|%>
        <a href="/users/<%=project.user.slug(:username)%>/projects/<%=project.slug(:name)%>"><%=project.name.capitalize%></a></br></br>
      <%end%>
    </div>
<%end%>
