<%content_for :main do %>
  <section class="clearfix">
    <h1>New Project</h1>

    <div class = "form clearfix">
      <form method='POST' action='/projects' id='new_project'>
        <table>
          <tr>
            <th>Project Name:</th>
            <td><input type='text' name='name'></td>
            <td> </td> <td> </td>
            <td><input type='submit' value='New Project'></td>
          </tr>    
          <tr>
            <th>Cost ($):</th>
            <td><input type='text' name='cost'></td>
          </tr>
          <tr>
            <th>Duration (hr):</th>
            <td><input type='text' name='duration'></td>
          </tr>  
          <%if current_user.rooms.empty? == true%>
            <tr>
              <th>Room:</th>
              <td><input type='text' name='new_room'></td>
            </tr>
          <%else%>
            <tr>
              <th>Add to New Room:</th>
              <td><input type='text' name='new_room'></td>
            </tr>
            <tr>
              <th>Add to an existing room:</th>
              <td>            
                <%current_user.rooms.each do |room|%>
                  <input type='radio' name = 'room' value='<%=room.name%>' id='<%=room.name%>'> <%=room.name.capitalize%></br>  
                <%end%>
              </td>
            </tr>
          <%end%>
          <tr>
            <th>Project Status:</th>
            <td>
              <input type = 'radio' name='status' value = 'Not started' id = 'Not started' checked>Not Started</br>
              <input type = 'radio' name='status' value = 'In progress' id = 'In progress'>In Progress</br>
              <input type = 'radio' name='status' value = 'Complete' id = 'Complete'>Complete
            </td>
          </tr>
          <tr>
            <th>Notes:</th>
            <td><textarea type='text' name='description' form='new_project'> </textarea></td>
          </tr>
          <tr>
            <th>Materials:</th>
            <td><textarea type='text' name='materials' form='new_project'> </textarea></td>
          </tr>
        </table>
      </form>
    </div>
  </section>
<%end%>

<%content_for :sidebar do%>
  <section>
    <h1>Sidebar</h1>
  </section>
<%end%>
