<%content_for :main do %>
  
  <!-- *********************  Large Name & Logo  ********************* -->
  <div class="large-logo-title">
    <div class="large-logo clearfix">
      <img src='/images/homeUp-logo.png'>
    </div>  <!--  .large-logo  -->
    <div class="clearfix">
      <h1 class="large-title" >homeUp</h1>
    </div> <!--  .large-title  -->
  </div> <!--  .large-logo-title  -->

  <!-- *********************  Logint and Signup Buttons  ********************* -->
  <div class="details">
    <p>Plan, track and budget for home improvement projects.</p>
    <div class="buttons">
      <a class = 'button' href='/login'>Log In</a> </br> </br>
      <a class = 'button' href='/signup'>Sign Up</a>
    </div> <!--  .buttons  -->
  </div> <!--  .details  -->
  
<%end%>