<div class="container">
    <div class="col-md-8 col-md-offset-2">
    <h2>homeUp</h2>

    <div class="content">
      <p>enter description of homeUp here</div>
      <a href='/login'>Log In</a>
      </br>

      <a href='/signup'>Sign Up</a>
  </div>
</div>
