<%content_for :main do %>
  <section class="clearfix">
    <h1>homeUp</h1>
    <p>enter description of homeUp here</p>
    <div class="buttons">
      <a class = 'button' href='/login'>Log In</a> </br> </br>
      <a class = 'button' href='/signup'>Sign Up</a>
    </div>
  </section>
<%end%>